.pickerDate_container {
//   background-color: white;
//   display: flex;
//   justify-content: center;
//   position: fixed;
//   z-index: 999;
//   padding: 10px;
//   top: 0;

  .datePicker {
    height: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
