.card_container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 300px;
  max-height: 350px;
  min-height: 350px;
  position: relative;
}

.text {
  position: absolute;
  bottom: 0rem;
  font-size: 2rem;
  z-index: 9999;
  color: white;
}

$small: 700px;

.card_container {
  @media screen and (max-width: $small) {
    width: 95%;
  }
}
