.footer_container {
  background-color: white;
  text-align: center;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
}

.box {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: 0;
  // background: linear-gradient(to bottom, #ee0979, #ff6a00);
  z-index: 5;
}

.single-box {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 50px;
  // left: 250px;
  width: 100%;
  animation: animate 18s linear infinite;
  transform-origin: center bottom;
  background-repeat: repeatno-repeat;
  opacity: 0.4;
  // background-size: 50% 80px;
  // position: absolute;
  // left: 0;
  // width: 150%;
  // height: 100%;
  // background-repeat: repeatno-repeat;
  // background-position: 0 bottom;
  // transform-origin: center bottom;
  // background-size: 50% 80px;
  // animation: animate 18s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1.52);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(1);
  }
  100% {
    transform: translateX(0) translateZ(0) scaleY(1.5);
  }
}
